*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
} 
 
body{
  margin: 0 auto;
  height: auto;
  
  font-family: monospace;
}

header{
  height: 50px;
  width: 100%;
  /*
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: white;
  */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  position: fixed;
  
  z-index: 35;
}


.main{
  height: 810px;
}


/* footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  text-align: center;
  padding: 0 50px 0 50px;
}

.footer-proj-link{
  display: flex;
  color: gray;
  
  align-items: center;
  justify-content: center;
}

footer p{
  width: 100%;
  margin: 0 20px 0 20px;
}



/* TYPOGRAPHY */

h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  text-decoration: underline;
}

h2{
  font-family: 'Anonymous Pro', monospace;
  font-weight: 200;
  letter-spacing: 2px;
  
  font-size: 1.2em;
  text-align: center;
}

p{
  width: 60%;
  font-family: 'Anonymous Pro', monospace;
  
  font-size: 0.8em;
  line-height: 1.7em;
}

h3{
  font-family: 'Anonymous Pro', monospace;
  font-weight: 200;
  letter-spacing: 5px;
  
  font-size: 0.8em;
  text-align: left;
  text-transform: uppercase;
  
  color: #aaa;
  
  border-bottom: 3px solid #ddd;
  
  padding-bottom: 10px;
  margin-bottom: 30px;
}

h4{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  
  font-size: 1em;
  line-height: 1.8em;
}

h6{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 00;
  letter-spacing: 5px;
  
  font-size: 0.8em;
  line-height: 1.5em;
}

h7{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.8;
  font-weight: 700;
  letter-spacing: 2px;
}

/*  HAMBURGER */

.hamburger-stop{
  position: fixed;
  z-index: 300;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background-color: white;
  color: black;
  
  display: none;
  
  padding-top: 30px;
  padding-left: 10px;
}

.openSidebarMenu {
  display: none;
}

.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 1em;
}
.sidebarMenuInner li a{
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
  
  display: none;
}

.sidebarIconToggle div{
   background-color: black;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


#sidebarMenu a {
    
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  text-decoration: none;
  color: black;
  
}

/* END OF HAMBURGER */




/* MAIN SECTIONS */

section{
}

.separe{
  width: 100%;
  height: auto;
  
  padding: 60px 60px 30px 60px;
}

.separe-container{
  display: flex;
}

.separe-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50%;
}

.separe ul{
  padding: 0;
  margin: 0;

  list-style-type: none;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  font-size: 0.9em;
  line-height: 2em;
  
  margin-left: 35px;
  padding-left: 10px;
  border-left: 1px solid gray;
  color: gray;
  
  height: 100px;
}

.separe h4{
  margin-top: 0;
  
  font-size: 1.5em;
  letter-spacing: 20px;
}

.separe p{
  width: 100%;
  
  font-family: "Playfair Display";
  font-size: 1.5em;
  
  margin-top: 0;
  margin-bottom: 50px;
}

.separe a{
  color: gray;
}



.proj-container{
  position: relative;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  padding: 30px 0 30px 0;
}

/* elements */

.logo-link {
  display: block;
  
  width: 130px;
  height: auto;
    
  position: absolute;
  left: 50px;
  top: 15px;
  
  z-index: 20;
}

.logo-link img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 530px) {
  .logo-link{
    top: 15px;
    left: auto;
    right: 20px;
  }   
}

/* header */

.main-header{
  position: absolute;
  
  padding: 100px 0 50px 30px;

  width: 100%;
  
  text-align: center;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-img{
  height: 100%;
  width: auto;
  overflow: hidden;
  position: relative;
  z-index: -30;
}

.main-img-black{
  height: 100%;
  width: auto;
  overflow: hidden;
  position: relative;
  z-index: -30;
  
  background-color: black;
}

.black-bg{
  color: white!important;
}

.main-img img, .main-img-black img{
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
  
  opacity: 0.2;
}

.opacity3{
  opacity: 0.3!important;
}

.main-header-pagename{
  position: absolute;
  top: 40px;
  left: 50%;
  
  color: grey;
  letter-spacing: 3px;
}

.main-titles{
  width: auto;
  padding-left: 30px;
  margin-right: 30px;
}

.main h1{
  font-family: 'Anonymous Pro', monospace;
  
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 8.5em;
  text-align: left;
  
  text-decoration: none;
  
  margin-top: 0;
  margin-bottom: 30px;
}

.main-h1-secondary{
  font-weight: 100!important;
  font-size: 6.5em!important;
  line-height: 0.8em!important;
}

.main h2{
  text-align: left;
  font-size: 0.8em;
}

.main-infos-d{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
}

.main-infos-m{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
  
  padding: 10px 0 0 40px;
  
  position: relative;
}

.main-infos-box{
  text-align: left;
  max-width: 300px;
  height: auto;
    
  padding-left: 20px;
  margin: 20px 0 20px 0;
  
  position: relative;
}

.main-infos-line{
  width: 200px;
  height: 50px;
  
  border-left: 3px solid black;
  
  position: absolute;
  top: 0;
  left: 0;
}

.main-infos-d p{
  width: 100%;
  margin-top: 0;
}
  
.main-infos-m p{
  width: 100%;
  margin-top: 0;
}


/* menu */





.white{
  color: white;
}


/* 100% */

.full{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding-right: 70px;
  padding-left: 70px;
}

.full-img{
  width: 90%;
  height: auto;
}

.full-img-more{
  width: 70%;
  height: auto;
}

.full-text{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.full-text p{
  padding: 0 30px;
  flex-basis: 35%;
}

.full a{
  text-decoration: none;
  color: black;
  
  margin: 0 20px 50px 20px;
  
  list-style-type: none;

  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
}

.full-text a:hover{
  text-decoration: underline;
}

/* half half, 40% */

.half-text{
  width: 40%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 40%;
  height: auto;
}

/* bigger img, 60% 40% */

.smaller-text{
  width: 40%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigger-img{  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 60%;
  height: auto;
}


/* single images / bg image options */

.proj-img img {
  width: 100%;
  height: auto;
}

.responsive-img-desktop{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
}

.responsive-img-mobile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
  
  display: none;
}

.centered-img{
  width: 50%;
  height: auto;
}

.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
}


/* displaying website mockups */

.website-pages-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.website-page-desktop{
  width: 40%;
  height: auto;
  
  align-items: flex-start;
  
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-top: 10px;

}

.website-page-mobile{
  width: 17%;
  height: auto;
  
  align-items: flex-start;
  
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  
  margin-top: 10px;
}


/* LIST-LINKS */


nav ul{
  padding: 0;
  margin: 0;

  list-style-type: none;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 3px;
  
  margin-right: 30px;
}

nav a{
  text-decoration: none;
  color: black;
  
  margin: 0 10px 0 10px;
}

nav li:hover{
  text-decoration: underline;
}

/* contacts page + SOCIALS */

.contacts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-image: url(img/Socials/socials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-socials-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  
  margin-top: 20px;
}

.contacts-container i{
  font-size: 1.2em;
  margin: 0 30px 0 30px;
}

.contacts-container i:hover{
  color: #ff7265;
}

.contacts-container a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1em;
}

.contacts-container a:hover{
  text-decoration: underline;
  color: #ff7265;
}

/* menu socials */

.menu-contacts-socials-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: auto;
  
  margin-top: 200px;
  padding: 30px;
  
  border-top: 1px solid black;
}

.menu-contacts-socials-container i{
  margin-right: 30px;
}






/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .separe{
    padding-bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  /* container projects */
  .container {
    flex-direction: column;
    padding: 20px 0 20px 0;
    
    border-bottom: 1px solid #eee;
  }
  .container p{
    margin-top: 50px;
    width: 60%;
  }
  .bigger-img{
    width: 100%;
    margin-top: 40px;
  }
  .half-img{
    width: 80%;
    margin-top: 20px;
  }
  .half-text{
    width: 90%;
    justify-content: center;
    order: -1;
  }
  .half-text p{
    width: 80%;
    margin: 0;
  }
  .smaller-text{
    width: 90%;
    justify-content: center;
    order: -1;
  }
  .smaller-text p{
    width: 80%;
    margin: 0;
  }
  .centered-img{
    width: 80%;
  }
}

@media screen and (max-width: 415px) {
  .half-text, .smaller-text{
    width: 100%;
    align-items: flex-start;
    padding: 0 10px 0 20px;
  }
  .half-text p, .smaller-text p{
    width: 100%;
  }
  .container{
    padding: 10px 0 10px 0;
  }
  .separe{
    padding: 50px 20px 0 20px;
    margin-bottom: 0;
  }
  h3{
    margin: 0;
  }
  footer{
    padding: 0 20px 0 20px;
  }
  footer p{
    display: none;
  }
  .separe-container{
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .separe-description{
    flex-basis: 100%;
  }
  .separe ul{
    margin: 0;
    height: 100%;
  }
  .separe p{
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  p{
    font-size: 1em;
    line-height: 1.8em;
  }
  h4{
    font-size: 1.3em;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .full{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .full-text p{
    flex-basis: 100%;
    margin: 20px 0 20px 0;
  }
  .full-text{
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .slider-slide h4{
    margin-left: 40%;
    margin-top: 350px;
  }
  .slider-pagination{
    display: none;
  }
  .help{
    margin-top: -200px;
    position: relative;
    z-index: 200;
  }
  .help p{
    position: relative;
    z-index: 202;
    padding-bottom: 50px;
  }
}


/* main 
@media screen and (max-width: 1024px) {
  .main h1{
    font-size: 12em!important;
  }
  .main-h1-secondary{
    font-size: 9em!important;
  }
}
*/

    @media screen and (max-width: 750px) {
      .main-infos-d{
        display: none;
      }
      .main-infos-m{
        display: flex;
      }
      .main-infos-box{
        width: 230px;
      }
    }

    @media screen and (max-width: 415px) {
      .main h1{
        font-size: 6em!important;
      }
      .main-h1-secondary{
        font-size: 4em!important;
      }
      .main-header{
        padding-left: 0;
      }
      .main-infos-m{
        padding-left: 20px;
      }
      .website-pages-container{
        margin-top: 50px;
      }
      .main{
        height: 736px;
      }
    }


@media screen and (max-width: 530px) {
  .nav-desktop{
      display: none;
  }
  
  /* responsive imgs */
  .responsive-img-desktop{
    display: none;
  }
  .responsive-img-mobile{
    height: auto;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    
    display: block;
  }
  .half-img{
    width: 100%;
  }
  .centered-img{
    width: 100%;
  }
  
  /* HEADERRR */

  
  header{
    width: 100%;
    height: 60px;
    
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;

    position: fixed;
    
    color: black!important;
    
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid black;
    z-index: 30;
  }
  
  .nav-desktop{
      display: none;
  }
  
  .sidebarIconToggle, .openSidebarMenu, #sidebarMenu{
    display: inline-block;
    z-index: 100;
  }
}