*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  min-width: 400px;
  
  font-family: sans-serif;
}

header{
  height: 100%;
  width: 100px;
  
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  position: fixed;
}


nav{
  height: 100vh;
  width: 100px;
  
  position: fixed;
  right: 50;
    
  text-align: center;
  
  margin-right: 50px;
}

footer{
  text-align: center;
  padding: 10px;
  
  border-top: 2px solid black;
}


/* elements */

.logo{
  width: 30px;
  height: auto;
  
  position: absolute;
  left: 50px;
  top: 15px;
}

.logo-2{
  width: 130px;
  height: auto;
  
  position: absolute;
  left: 50px;
  top: 20px;
}

.hamburger{
  width: 
}

.rotate90{
  transform: rotate(-90deg);
}

.icon-arrow-down{
  position: absolute;
  bottom: 25px;
  z-index: 10;
}

/* sections */

section{
  height: 100vh;
    
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-landing-page{
  align-items: center;
  padding: 20px;
  
  background-color: #FFCE00;
}

.home-line{
  width: 35px;
  height: 5px;
  
  background-color: black;
  
  position: fixed;
  left: 50px;
  bottom: 50px;
  
  transform: rotate(45deg);
}

.home-gif{
  width: 500px;
  height: auto;
  position: absolute;
  top: 20;
}


/* PROJECTS */

.projects{
  background-color: white;
  
  display: flex;
}

.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    
  width: 90%;
  height: 70%;
}

.projects-box-v{
  width: 330px;
  height: 500px;
    
  margin: 15px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  
  padding-top: 5px;
}

.projects-box-v-img{
  width: 300px;
  height: 480px;
  
  background-color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-box-h{
  width: 510px;
  height: 320px;
    
  margin: 15px;
  margin-top: 60px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  
  padding-top: 5px;
}

.projects-box-h-img{
  width: 480px;
  height: 300px;
  
  background-color: #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-box-title{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  font-size: 7em;
  
  line-height: 0;
  margin: 20px 0 0 10px;
}


/* projects HOVER */

.projects-box-v-hover{
  width: 330px;
  height: 500px;
    
  margin: 15px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  padding-top: 5px; 
  
  position: absolute;
  z-index: 10;
}

.projects-box-v-img-hover{
  width: 300px;
  height: 480px;
  
  background-color: rgb(0,0,0,0.7);
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  
  opacity: 0;
}

.projects-box-h-hover{
  width: 510px;
  height: 320px;
    
  margin: 15px;
  margin-top: 60px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: absolute;
  z-index: 10;
  
  padding-top: 5px;
}

.projects-box-h-img-hover{
  width: 480px;
  height: 300px;
  
  background-color: rgb(0,0,0,0.7);
  position: absolute;
  bottom: 0;
  right: 0;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  
  padding: 30px 0 0 10px ;
  opacity: 0;
}


.projects-box-v-img-hover:hover{
  opacity: 1;
}

.projects-box-h-img-hover:hover{
  opacity: 1;
}

/* projects - IMAGES*/

.projects-box-thetrumpet{
  background-image:url(img/projects-thetrumpet/thetrumpet-00.png);
}

.projects-box-enroute{
  background-image: url(img/projects-enroute/enroute-00.jpg);
  opacity: 0.7;
}

.projects-box-solarsystem{
  background-image: url(img/projects-solarsystem/stars-gif-1.gif);
  opacity: 0.9;
}


/* contacts page + SOCIALS */

.contacts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-image: url(img/Socials/socials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-socials-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  
  margin-top: 20px;
}

.contacts-container i{
  font-size: 1.2em;
  margin: 0 30px 0 30px;
}

.contacts-container i:hover{
  color: #ff7265;
}

.contacts-container a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1em;
}

.contacts-container a:hover{
  text-decoration: underline;
  color: #ff7265;
}

/* about page */

.about{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  padding: 50px 0 50px 0;
  margin-bottom: 50px;
}

.about-img{
  width: 70%;
  height: auto;
}



/* TEXT */

h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  text-decoration: underline;
}

.h1-homepage{
  font-family: 'Barlow Condensed', sans-serif;
  
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0.1em;
  
  text-decoration: none;
}

.h1-margin{
  margin-bottom: 50px;
}

.h1-icons{
  font-family: 'Barlow Condensed', sans-serif;
  
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.1em;
  
  text-decoration: none;
}


h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  
  font-size: 1.2em;
  text-align: center;
}

p{
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  
  line-height: 1.8em;
}

.proj-info p{
  font-size: 0.9em;
  line-height: 1.8em;
} 

h3{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  
  font-size: 1.7em;
  text-align: center;
  
  color: #aaa;
  text-decoration: underline;  
  
  padding: 30px;
}


h4{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  
  font-size: 1em;
  line-height: 1.8em;
}

.h1-projects{
  font-size: 5em;
  line-height: 1em;
    
  font-style: italic;
  text-decoration: none;
  color: white;
  
  margin: 0;
}

.p-projects{
  color: white;
  font-size: 0.7em;
  letter-spacing: 3px;
  
  margin-left: 15px;
}



/* LIST-LINKS */


ul{
  padding: 0;
  margin: 30px 30px 30px 0;

  list-style-type: none;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 92%;
  width: 100px;
  
  position: fixed;
  right: 0;
}

a{
  text-decoration: none;
  color: black;
}

li:hover{
  text-decoration: underline;
}


/* MEDIA QUERIES */

@media screen and (max-width: 530px) {
  
  /* HEADERRR */
  
  header{
    width: 100%;
    height: 60px;
    
    background-color: aqua;
    z-index: 30;
  }
  
  .logo-2{
    top:15px;
    left: 15px;
  }
  
  nav {
      display: none;
  }
  
  /* PROJECTS */
  
  .projects{
    background-color: white;

    display: flex;
    align-items: flex-start;
    padding-top: 100px;
  }
  
  .projects-container{
    flex-flow: column wrap;
    align-items: flex-start;
    
    width: 100%;
    height: auto;
    
    padding: 0;
    margin: 0;
    }
  
  .projects-box-v{
    width: 100vw;
    height: 720px;
    
    padding-top: 5px;    
    margin: 70px 0 0 0;
    padding: 0;
  }
  .projects-box-v-img{
    width: 100%;
    height: 700px;
  }
  
  .projects-box-h{
    width: 100vw;
    height: 720px;
    
    margin: 70px 0 0 0;
    padding: 0;
  }
  .projects-box-h-img{
    width: 100%;
    height: 700px;
  }
  
  .projects-box-v-hover{
    display: none;
    opacity: 0;
  }
  .projects-box-v-img-hover:hover{
  opacity: 0;
  }
  .projects-box-h-hover{
    display: none;
    opacity: 0;
  }
  .projects-box-h-img-hover:hover{
  opacity: 0;
  }


.white{
  color: white;
}