*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
} 
 
body{
  margin: 0 auto;
  min-width: 400px;
  height: auto;
  
  font-family: monospace;
}

header{
  height: 50px;
  width: 100%;
    
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  position: fixed;
  
  z-index: 35;
}

footer{
  text-align: center;
}

main{
  height: 100vh;
}


/* TYPOGRAPHY */

h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  
  text-decoration: underline;
}

h2{
  font-family: 'Anonymous Pro', monospace;
  font-weight: 200;
  letter-spacing: 2px;
  
  font-size: 1.2em;
  text-align: center;
}

p{
  width: 60%;
  font-family: 'Anonymous Pro', monospace;
  
  font-size: 0.8em;
  line-height: 1.7em;
}

h3{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  
  font-size: 1.7em;
  text-align: center;
  
  color: #aaa;
  text-decoration: underline;  
  
  padding: 30px;
}

h4{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 600;
}

h5{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  
  font-size: 1em;
  line-height: 1.8em;
}

h6{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 00;
  letter-spacing: 5px;
  
  font-size: 0.8em;
  line-height: 1.5em;
}

h7{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.8;
  font-weight: 700;
  letter-spacing: 2px;
}


/* MAIN SECTIONS */

section{
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  padding: 30px 0 30px 0;
}


/* elements */

.logo{
  width: 30px;
  height: auto;
  
  position: absolute;
  left: 50px;
  top: 10px;
}

.logo-3{
  width: 130px;
  height: auto;
  
  position: absolute;
  left: 50px;
  top: 10px;
}


/* header */

.main-header{
  position: absolute;
  
  padding: 100px 0 50px 30px;

  width: 100%;
  
  text-align: center;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-img{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-img img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -20;
  
  opacity: 0.5;
}

.main-header-pagename{
  position: absolute;
  top: 60px;
  left: 50%;
  
  color: grey;
  letter-spacing: 3px;
}

.main-titles{
  width: 450px;
  padding-left: 30px;
}

main h1{
  font-family: 'Anonymous Pro', monospace;
  
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 8.5em;
  text-align: left;
  
  text-decoration: none;
  
  margin-top: 0;
  margin-bottom: 30px;
}

.main-h1-secondary{
  font-weight: 100;
  font-size: 6.5em;
  line-height: 0.8em;
}

main h2{
  text-align: left;
  font-size: 0.8em;
}

.main-infos-d{
  display: flex;
  flex-direction: column;
}

.main-infos-m{
  display: flex;
  flex-direction: row;
  display: none;
  
  width: 100%;
  height: auto;
  background-color: red;
  
  padding-left: 40px;
}

.main-infos-box{
  text-align: left;
  width: 200px;
  height: auto;
    
  padding-left: 20px;
  margin: 20px 0 20px 0;
  
  position: relative;
}

.main-infos-line{
  width: 200px;
  height: 50px;
  
  border-left: 3px solid black;
  
  position: absolute;
  top: 0;
  left: 0;
}

.main-infos-d p{
  width: 100%;
  margin-top: 0;
}

.main-infos-m p{
  width: 100%;
  margin-top: 0;
}

@media screen and (max-width: 750px) {
  .main-infos-d{
    display: none;
  }
  .main-infos-m{
    display: flex;
  }
  .main-infos-box{
    width: 230px;
  }
}






.white{
  color: white;
}


/* half half, 40% */

.half-text{
  width: 40%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 40%;
  height: auto;
}

/* bigger img, 60% 40% */

.smaller-text{
  width: 40%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigger-img{  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 60%;
  height: auto;
}

/* single images / bg image options */
.proj-img img {
  width: 100%;
  height: auto;
}

.responsive-img-desktop{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
}

.responsive-img-mobile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
  
  display: none;
}

.centered-img{
  width: 50%;
  height: auto;
}

.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  width: 100%;
  height: auto;
}


/* displaying website mockups */

.website-pages-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.website-page-desktop{
  width: 40%;
  height: auto;
  
  align-items: flex-start;
  
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.website-page-mobile{
  width: 17%;
  height: auto;
  
  align-items: flex-start;
  
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


/* LIST-LINKS */


ul{
  padding: 0;
  margin: 0;

  list-style-type: none;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  line-height: 100px;
  font-size: 0.9em;
  letter-spacing: 4px;
  
  margin-right: 100px;
}

a{
  text-decoration: none;
  color: black;
  
  margin-right: 30px;
}

li:hover{
  text-decoration: underline;
}




/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    padding: 20px 0 20px 0;
    
    border-bottom: 1px solid #eee;
  }
  .container p{
    margin-top: 50px;
    width: 60%;
  }
  .bigger-img{
    width: 100%;
    margin-top: 40px;
  }
  .half-img{
    width: 80%;
    margin-top: 20px;
  }
  .half-text{
    width: 90%;
    justify-content: center;
    order: -1;
  }
  .half-text p{
    width: 80%;
    margin: 0;
  }
  .smaller-text{
    width: 90%;
    justify-content: center;
    order: -1;
  }
  .smaller-text p{
    width: 80%;
    margin: 0;
  }
  .centered-img{
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  nav {
      display: none;
  }
  
  .responsive-img-desktop{
    display: none;
  }
  .responsive-img-mobile{
    height: auto;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    
    display: block;
  }
  .half-img{
    width: 100%;
  }
  .centered-img{
    width: 100%;
  }
}